# STA 141B: Homework 5
Winter 2018

## Student Information

After the colons (in the same line) please write just your first name, last name, and the 9 digit student ID number below.

First Name: Chun-Jui

Last Name: Chen

Student ID:

## Instructions

We use a script that extracts your answers by looking for cells in between the cells containing the exercise statements.  So you 

- MUST add cells in between the exercise statements and add answers within them and
- MUST NOT modify the existing cells, particularly not the problem statement

To make markdown, please switch the cell type to markdown (from code) - you can hit 'm' when you are in command mode - and use the markdown language.  For a brief tutorial see: https://daringfireball.net/projects/markdown/syntax

# Housing data

In this assignment, you'll analyze a collection of data sets from the [San Francisco Open Data Portal](http://data.sfgov.org/) and [Zillow](https://www.zillow.com/). The data sets have been stored in the SQLite database `sf_data.sqlite`, which you can [download here](http://anson.ucdavis.edu/~nulle/sf_data.sqlite). The database contains the following tables:

Table                   | Description
----------------------- | -----------
`crime`                 | Crime reports dating back to 2010.
`mobile_food_locations` | List of all locations where mobile food vendors sell.
`mobile_food_permits`   | List of all mobile food vendor permits. More details [here](https://data.sfgov.org/api/views/rqzj-sfat/files/8g2f5RV4PEk0_b24iJEtgEet9gnh_eA27GlqoOjjK4k?download=true&filename=DPW_DataDictionary_Mobile-Food-Facility-Permit.pdf).
`mobile_food_schedule`  | Schedules for mobile food vendors.
`noise`                 | Noise complaints dating back to August 2015.
`parking`               | List of all parking lots.
`parks`                 | List of all parks.
`schools`               | List of all schools.
`zillow`                | Zillow rent and housing statistics dating back to 1996. More details [here](https://www.zillow.com/research/data/).

The `mobile_food_` tables are explicitly connected through the `locationid` and `permit` columns. The other tables are not connected, but you may be able to connect them using dates, latitude/longitude, or postal codes.

Shapefiles for US postal codes are available [here](https://www.census.gov/geo/maps-data/data/cbf/cbf_zcta.html). These may be useful for converting latitude/longitude to postal codes.

Shapefiles for San Francisco Neighborhoods are available [here](https://data.sfgov.org/Geographic-Locations-and-Boundaries/SF-Find-Neighborhoods/pty2-tcw4).

__Exercise 1.1.__ (20 pts) Which mobile food vendor(s) sells at the most locations?

In [3]:
import pandas as pd
import sqlite3 as sql
db = sql.connect("sf_data.sqlite")

In [5]:
pd.read_sql('''select * from mobile_food_permits limit 10''',db)

,permit,Status,Applicant,FacilityType,FoodItems,PriorPermit,Approved,Expiration
0,16MFF-0027,APPROVED,F & C Catering,Truck,Cold Truck: Hot/Cold Sandwiches: Water: Soda: ...,1,2016-03-09 12:00:00,2017-03-15 12:00:00
1,13MFF-0102,EXPIRED,Natan's Catering,Truck,Burgers: melts: hot dogs: burritos:sandwiches:...,1,2013-04-12 12:00:00,2014-03-15 12:00:00
2,16MFF-0069,APPROVED,Munch A Bunch,Truck,Cold Truck: packaged sandwiches: pitas: breakf...,1,2016-03-15 12:00:00,2017-03-15 12:00:00
3,16MFF-0051,APPROVED,Park's Catering,Truck,Cold Truck: Hamburger: cheeseburgers: hot dogs...,1,2016-03-15 12:00:00,2017-03-15 12:00:00
4,16MFF-0010,REQUESTED,Pipo's Grill,Truck,Tacos: Burritos: Hot Dogs: and Hamburgers,0,None,None
5,16MFF-0024,APPROVED,"Off the Grid Services, LLC",Truck,Everything,0,2016-03-17 12:00:00,2017-03-15 12:00:00
6,14MFF-0034,EXPIRED,Bach Catering,Truck,Cold Truck: Cheeseburgers: Burgers: Chicken Ba...,1,2014-03-13 12:00:00,2015-03-15 12:00:00
7,16MFF-0048,REQUESTED,Singh Brothers Ice Cream,Truck,Ice Cream: Pre-Packaged Chips: Candies: Bottle...,1,None,2017-03-15 12:00:00
8,16MFF-0036,APPROVED,Roadside Rotisserie Corporation / Country Grill,Truck,Rotisserie Chicken: Ribs: Kickass Salad: Potat...,0,2016-03-10 12:00:00,2017-03-15 12:00:00
9,14MFF-0001,EXPIRED,Sun Rise Catering,Truck,Cold Truck: sandwiches: drinks: snacks: candy:...,1,2014-09-10 12:00:00,2015-03-15 12:00:00

In [6]:
pd.read_sql('''select * from mobile_food_schedule limit 10''',db)

   locationid      permit DayOfWeek  EndHour  StartHour
0      305727  11MFF-0040        Mo       15         10
1      305727  11MFF-0040        Tu       15         10
2      305727  11MFF-0040        We       15         10
3      305727  11MFF-0040        Th       15         10
4      305727  11MFF-0040        Fr       15         10
5      305727  11MFF-0040        Sa       15         10
6      305727  11MFF-0040        Su       15         10
7      305727  11MFF-0040        Mo       20         17
8      305727  11MFF-0040        Tu       20         17
9      305727  11MFF-0040        We       20         17

In [15]:
pd.read_sql('''select A.permit permit, count(distinct locationid) as nLoc 
from (mobile_food_schedule A inner join mobile_food_permits B on
A.permit = B.permit) group by A.permit order by nLoc desc limit 10
''',db)

       permit  nLoc
0  17MFF-0110    58
1  13MFF-0102    37
2  17MFF-0111    37
3  17MFF-0090    33
4  16MFF-0051    23
5  16MFF-0048    21
6  14MFF-0001    19
7  14MFF-0109    19
8  17MFF-0084    19
9  16MFF-0037    17

__Exercise 1.2.__ (40 pts) Ask and use the database to analyze 5 questions about San Francisco. For each question, write at least 150 words and support your answer with plots. Make a map for at least 2 of the 5 questions.

You should try to come up with some questions on your own, but these are examples of reasonable questions:

* Which parts of the city are the most and least expensive?
* Which parts of the city are the most dangerous (and at what times)?
* Are noise complaints and mobile food vendors related?
* What are the best times and places to find food trucks?
* Is there a relationship between housing prices and any of the other tables?

Please make sure to clearly state each of your questions in your submission.

In [21]:
pd.read_sql('''select * from zillow order by MedianSoldPricePerSqft_AllHomes limit 10''',db)

,RegionName,Date,ZriPerSqft_AllHomes,MedianSoldPricePerSqft_AllHomes,PriceToRentRatio_AllHomes,Turnover_AllHomes
0,94102,2010-11-01 00:00:00,3.212,None,15.35,6.6625
1,94103,2010-11-01 00:00:00,2.822,None,16.90,6.6905
2,94133,2010-11-01 00:00:00,3.224,None,20.55,3.9609
3,94134,2010-11-01 00:00:00,2.370,None,13.20,3.2787
4,94132,2010-11-01 00:00:00,2.270,None,15.65,3.6435
5,94124,2010-11-01 00:00:00,2.374,None,11.24,4.1563
6,94127,2010-11-01 00:00:00,2.276,None,19.56,2.9244
7,94108,2010-11-01 00:00:00,3.522,None,17.75,5.3879
8,94105,2010-11-01 00:00:00,3.286,None,19.34,9.5238
9,94158,2010-11-01 00:00:00,2.768,None,17.95,22.3363